.top a {
  color: aliceblue;
}

.blog {
  margin-top: 50px;
}

.blog h1 {
  font-size: 35px;
}

.cont {
  position: absolute;
  margin-top: -500px;
  color: white;
  margin-left: 50px;
  width: 50%;
}

.intro {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.intro p {
  width: 80%;
}

.home-cards {
  margin: 30px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.cardhead {
  display: inline-block;
  padding-top: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.home-cards h3 {
  font-weight: 100;
  margin-top: 30px;
  color: white;
}

.home-cards button {
  margin-top: 30px;
  width: 150px;
}

.card {
  background-color: rgb(252, 252, 252);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inner-card {
  padding: 80px 80px;
}

.proj {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* height: 400px;
  width: 200px; */
  grid-gap: 5px;
  margin: 50px 10px;
}

.inner-proj {
  width: 100%;
  height: 400px;
}

.image {
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 60px 30px;
  font-size: 14px;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover {
  opacity: 1;
}

/* ...service */

.service {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.inner-service {
  padding: 20px 30px;
}

.inner-service h2 {
  margin-top: 20px;
}

.foot i {
  margin-top: 10px;
  font-size: 25px;
  margin-right: 15px;
}

.map {
  padding: 70px 20px 20px 20px;
  margin-left: 5%;
}

.down {
  padding: 50px 50px;
}

@media screen and (max-width: 1099px) {
  .intro {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .home-cards {
    margin: 30px 50px;
    /* display: grid; */
    grid-template-columns: 1fr;
    /* grid-gap: 20px; */
  }
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
  .service {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
  .service {
    grid-template-columns: repeat(1, 1fr);
  }
  .map {
    padding: 50px 60px 20px 10px;
    margin-left: 0;
  }
  .proj h6 {
    padding: 0 7%;
  }
  .inner-card {
    padding: 30px 30px;
  }
  .inner-service {
    padding: 20px 8px;
  }
  .down {
    padding: 50px 20px;
  }
  .home-cards {
    margin: 30px 20px;
  }
}
